@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.card-container-1 {
    height: 35rem;
    width: 20rem;
    position: relative;
    background-color: #dfe7f1;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    margin: 3rem;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.card-container-2 {
    height: 35rem;
    width: 20rem;
    position: relative;
    background-color: #dfe7f1;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    margin: 3rem;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.card-container-3 {
    height: 35rem;
    width: 20rem;
    position: relative;
    background-color: #dfe7f1;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    margin: 3rem;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;
    text-align: center;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.woman_running {
    height: 15rem;
    width: 20rem;

}

.strength_training_man {
    height: 15rem;
    width: 20rem;
}

.HIIT_workout {
    height: 15rem;
    width: 20rem;
}

.strength {
    height: 20rem;
    width: 10rem;
}

.treadmill {
    height: 17rem;
    width: 25rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contain {
    width: 100%;
    height: 100%;

    .image1 {
        opacity: 0.8;
    }

    .phrase1 {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        font-family: 'Oswald';
        font-style: medium 400;
        font-size: 75px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.5;
        transition: 0.8s;
        color: #ffffff;
        text-shadow: black 0px 0px 2px;
    }

    .phrase1:hover {
        opacity: 2;
        font-size: 80px;
    }

    .image2 {
        height: 60rem;
        width: 100%;

        .phrase2 {
            width: 80%;
            top: 130rem;
            left: 9rem;
            position: absolute;
            display: flex;
            font-family: 'Oswald';
            font-style: medium 400;
            font-size: 45px;
            justify-content: center;
            align-items: center;
            color: #130a43;
        }
    }

    .image3 {
        width: 100%;

        .phrase3 {
            width: 60%;
            top: 205rem;
            left: 2rem;
            position: absolute;
            display: flex;
            font-family: 'Oswald';
            font-style: medium 400;
            font-size: 60px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #ffffff;
        }
    }

    .image4 {
        
        width: 100%;

        .phrase4 {
            width: 60%;
            top: 225rem;
            left: 2rem;
            position: absolute;
            display: flex;
            font-family: 'Oswald';
            font-style: medium 400;
            font-size: 50px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #000000;
        }
    }

}

.card_container_1 {
    height: 30rem;
    width: 20rem;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.card_container_2 {
    height: 30rem;
    width: 25rem;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.card_container_3 {
    height: 30rem;
    width: 20rem;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    grid-template-rows: 55% 10% 5% 20% 10%;
    font-family: 'Oswald';
    font-style: medium 400;
    font-weight: 200 700;

    .card-description {
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        text-align: center;
    }

    .cardpage {
        text-align: center;
        color: rgb(0, 0, 52);
    }

}

.aboutus {
    background-color: #ffffff;

    img {
        opacity: 0.5;
    }

    h1 {
        width: 55%;
        top: 15rem;
        left: 10rem;
        position: absolute;
        text-align: left;
        font-size: 70px;
        ;
        color: #030f32;
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
    }

    p {
        width: 45%;
        top: 20rem;
        left: 10rem;
        position: absolute;
        text-align: left;
        font-size: 30px;
        ;
        color: #030f32;
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
    }

    .section {
        background-color: rgb(16, 16, 129);
    }

    .paragraph {
        width: 50%;
        top: 60rem;
        left: 5rem;
        bottom: 60rem;
        //right: 10rem;
        position: absolute;
        text-align: center;
        font-size: 30px;
        ;
        color: #030f32;
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        //background-color: rgb(16, 16, 129);
    }

    .stats {
        width: 100%;
        top: 65rem;
        right: 10rem;
        position: absolute;
        text-align: right;
        font-size: 30px;
        ;
        color: #030f32;
        font-family: 'Oswald';
        font-style: medium 400;
        font-weight: 200 700;
        //background-color: rgb(16, 16, 129);
    }
}